<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <script lang="js" src="login.js"></script>
    <title>Login</title>
</head>
<body id="boridy">
    <div id="bolhadiv"></div>
    <header id="headerI">
        <h1 id="H1Header">Usuario</h1>
        <h1 id="h1pts">adsd</h1>
        <canvas id="canvapts"></canvas>
        <button id="BtnHeader">⇲</button>
    </header>

    <div id="buffer"></div>

    <main>

        <div id="divhorario">
            <h1 class="MainH1" id="horario"></h1>
        </div>
        
        <div class="objects" id="mainn">

            <h1>TAREFAS ATUAIS</h1>

        </div>

        <div class="objects" id="extras">

            <h1>TAREFAS EXTRAS</h1>

        </div>

    </main>

    <div id="DivlogForm" style="background: linear-gradient( rgb(172, 0, 0) -100%, rgb(0, 150, 161) );">
        <textarea name="login" id="Login"></textarea>
        <textarea name="senha" id="Senha"></textarea>
        <button id="btnform">Enviar</button>
    </div>

    <scroll-container id="Divinfo">
        <div id="divpoints">
            <div id="points">
                <h1 style="margin: 0px;">Pontos</h1>
                <p style="margin: 0px; color: green;" id="pontualao">os</p>
            </div>
        </div>
    </scroll-container>
    
</body>
</html>