<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <script lang="js" src="login.js"></script>
    <title>Login</title>
</head>
<body>
    <header>
        <h1 id="H1Header">Usuario</h1>
        <button id="BtnHeader"><img id="HeaderButtonImg" src="Imagens/options.png" alt="options"></button>
    </header>

    <div id="buffer"></div>

    <main id="mainn">
        <div>
            <h1 class="MainH1" id="horario">23:59</h1>
        </div>
        
        

    </main>

    <div id="DivlogForm">
        <textarea name="login" id="Login"></textarea>
        <textarea name="senha" id="Senha"></textarea>
        <button id="btnform">Enviar</button>
    </div>
    

    <scroll-container id="Divinfo">
        <div id="divpoints">
            <div id="points">
                <h1 style="margin: 0px;">Pontos</h1>
                <p style="margin: 0px; color: green;" id="pontualao">os</p>
            </div>
        </div>
    </scroll-container>
    
</body>
</html>