@charset "UTF-8";

body
{

    overflow-x: hidden;

}

.MainH1
{

    width: 70vw;
    height: 10vw;
    text-align: center;

}

.MainDiv
{

    width: 90vw;
    height: 100px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 3vw;
    border-bottom-right-radius: 3vw;
    box-shadow: 5px 5px 5px black;
    z-index: 3;
    background: linear-gradient(90deg, rgb(0, 0, 172) -100%, rgb(161, 0, 161) );

}

.DivH2
{

    width: 50%;
    text-align: center;

}

.DivBtn
{

    width: 30%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    border: 0px;


}

.registros
{
    height: 10%;
    width: 98.5%;
    border: 2px solid gainsboro;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.regish1
{

    font-size: 16px;

}

.regish2
{

    font-size: 16px;

}

.regisp
{

    font-size: 16px;

}

.objects
{

    width: 95vw;
    background-color: rgba(68, 178, 212, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;
    border-radius: 2vh;

}

.divextras
{

    width: 95%;
    height: 25vh;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

}

.divfeito
{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 1px solid rgb(110, 109, 109);
    border-right: 1px solid rgb(110, 109, 109);
    width: 20vw;
    height: 90%;

}

.extrapessoa
{

    height: 40%;
    margin: 0px;

}

.bolhas
{

    z-index: 1;
    opacity: 0.7;
    position: absolute;

}

.MonoDiv
{
    
    width: 90vw;
    height: 50px;
    display: flex;
    margin: 50px;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    background-color: rgba(132, 0, 184, 0.69);
    border-bottom-left-radius: 3vw;
    border-bottom-right-radius: 3vw;
    box-shadow: 2px 2px 2px black;
    z-index: 3;
    max-height: max-content;

}

.taskINFO
{

    width: 100%;
    height: 65%;
    flex-direction: row;
    display: none;
    
}

.INFOS
{

    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.btnTASK
{

    height: 25%;
    width: 90%;
    margin: 5px;
    border: 0px;
    border-radius: 35%;

}



#H1Header
{

    font-size: 30px;

}


#buffer
{

    height: 10vh;

}

#HeaderButtonImg
{

    width: 11vw;
    height: 11vw;

}

#logForm
{

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

#DivlogForm
{

    width: 90vw;
    height: 90vh;
    position: absolute;
    background-color: rgb(128, 128, 128);
    margin: -8px;
    top: 2vh;
    left: 7vw;
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;

}

#btnform
{

    width: 20vw;
    height: 5vh;

}

#Divinfo
{

    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(128, 128, 128, 0.493);
    width: 100vw;
    height: 100vh;
    z-index: 12;
    display: none;
    align-items: center;
    justify-content: center;

}

#divpoints
{

    width: 80vw;
    height: 50vh;
    background-color: aliceblue;
    overflow-y: scroll;
    scroll-behavior: smooth;

}

#points
{

    width: 98.5%;
    height: 30%;
    border: 2px solid gainsboro;
    background-color: rgba(128, 128, 128, 0.178);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#BtnHeader
{

    width: 100%;
    height: 25px;
    background-color: rgba(240, 248, 255, 0);
    border: 0px;
    position: absolute;
    top: 70%;

}

#divhorario
{

    display: flex;
    align-items: center;
    justify-content: center;
    width: 70vw;
    z-index: 9;

}

#canvapts
{

    width: 100px;
    height: 400px;
    border: 1px solid rgb(0, 38, 49);
    display: none;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    align-items: center;
    justify-content: center;

}

#h1pts
{

    display: none;
    
}


header
{

    position: fixed;
    margin: -9px;
    width: 100vw;
    height: 15vh;
    top: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid gainsboro;
    background: linear-gradient(rgb(9, 94, 116) 0%, rgb(15, 169, 180) 150%);
    z-index: 10;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(2, 0, 24);
    border: 0px;

}

main
{

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100vw; 
    margin: -8px;
    background: linear-gradient(rgb(68, 179, 212) 0%, rgb(7, 84, 107) 70%);

}
