<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="ADM.css">
    <script lang="js" src="ADM.js"></script>
    <title>Login</title>
</head>
<body>
    <header>
        <h1 id="H1Header">Usuario</h1>
        <button id="BtnHeader"><img id="HeaderButtonImg" src="Imagens/options.png" alt="options"></button>
    </header>

    <div id="buffer"></div>

    <main id="mainn">
        <div>
            <h1 class="MainH1" id="horario">23:59</h1>
        </div>
        
        <div class="tasks" id="soraia">
            <h1></h1>
        </div>
        <div class="tasks" id="juan">
            <h1></h1>
        </div>

    </main> 

    <div id="Divinfo">
        <button id="close">SAIR</button>
        <div id="divpoints">
            <h1>Soraia</h1>
            <div class="points" id="lastss">
                <button class="butonpts" id="btna">⟻</button>
                <h3 id="soraiaA">23</h3>
                <button class="butonpts" id="btnb">⟼</button>
            </div>
            <h1>Juan</h1>
            <div class="points" id="lasts">
                <button class="butonpts" id="btnc">⟻</button>
                <h3 id="juanA">23</h3>
                <button class="butonpts" id="btnd">⟼</button>
            </div>
        </div>
    </div>
    
</body>
</html>